@import '../../index.scss';
.app__doctor-card{
  min-width: 400px;
  width: min-content;
  padding: 2rem;
  display: flex ;
  flex-direction: column;
  margin: 2rem 0 0 0;
  justify-content: space-between;
  box-shadow: 0 4px 8px 0 rgba(94, 94, 94, 0.1), 0 6px 20px 0 rgba(94, 94, 94, 0.1);
}
.app__doctor-card_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  position: relative;
  
  &:hover img{
      transform: translateY(-2rem) scale(1.2);
    }
  img{
    width: 260px;
    height: 260px;
    border-radius: 7px;
    top: -15px;
    object-fit: cover;
    margin-bottom: 2rem;
    box-shadow: 0 4px 8px 0 rgba(94, 94, 94, 0.1), 0 6px 20px 0 rgba(94, 94, 94, 0.1);
    transition: all 0.4s ease-in-out;
    
  }
  h3{
    font-size: 1.4rem;
  }
  p{
    text-align: justify;
    text-align: center;
    padding: 1rem 0;
  }
  h4{
    background: #3fa6ffc7;
    color: #fff;
    border-radius: 7px;
    font-size: 0.7rem;
    padding: 10px;
  }
}