@import '../../index.scss';

.primary-button{
    margin: 1rem 0;
    button{
        cursor: pointer;
        background-color: $btn-blue;
        font-family: $secondary-font;
        color: #fff;
        padding: .6rem 2rem;
        border: none;
        font-size: 1rem;
        transition: all 0.3s ease-in;
        width: 100%;
        &:disabled{
            cursor: not-allowed;
        }

    }

    button:hover{
        background-color: $dark-blue;
    }

}