@import '../../../index.scss';

.specialty{

    margin: 2rem 6rem;
    @media screen and (max-width: 950px) {
        margin: 1rem 4rem;
    }
    @media screen and (max-width: 950px) {
        margin: 1rem;
    }
}

.carousel{
    overflow: hidden;
    cursor:grab;
    
}

.inner{
    min-width: 2300px;
}

.item{
   display: flex;
   justify-content: space-between;
   pointer-events : none;
   font-family: $secondary-font;

}

.heading{
    padding-left: 10px;
}

.heading h1 {
    text-align: left;
    position: relative;
    color: $primary-color;
    font-size: 30px;
    font-family: $secondary-font;
    font-weight: 500;
    padding-bottom: 8px;
    margin: 5px;

    span{
        color: $secondary-Color; 
    }
}

.heading p{
    font-family: $secondary-font;
    color: $gray-text;
    font-weight: 500;
    font-size: 18px;
    margin: 5px;
    max-width: 700px;
}
