@import '../../index.scss';
.app__profile{
    margin: 6rem 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
    font-family: $secondary-font;

}
.app__profile-info{
    border-radius: 1rem ;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    width: 100%;
    row-gap: .5rem;
    box-shadow: 0px 0px 10px #40404040;
}
.app__profile-info_img{
    width: 100%;
    background: $primary-color;
    text-align: center;
    padding: 2rem;
    position: relative;
    overflow: hidden;
    border-radius: 1rem 1rem 0 0 ;
    &::after{
        content: '';
        position: absolute;
        width: 150%;
        height: 100%;
        background-image: linear-gradient(to right bottom, #ffffff90, transparent);
        left: 20%;
        z-index: 0;
        transform: rotate(60deg);
    }
    img{
        position: relative;
        z-index: 10;
        width: 200px;
    }
}
.app__profile-info_details{
    h1{
        text-align: center;
        margin: 2rem 0;
    }
    h2{
        display: flex;
        align-items: center;
        gap: 1rem;
        font-size: 1.2rem;
        margin: 1rem 0;
        svg{
            color: $btn-blue;
            font-size: 1.4rem;
        }
    }
}
.app__profile-services{
    flex: 2;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    h3{
        color: #fff;
    }
}
.app__profile-services-items1{
    display: flex;
    height: 50%;
    column-gap: 1rem;
    position: relative;
}
.app__profile-services_questions{
    padding: 2rem;
    flex: 1;
    border-radius: 1rem ;
    box-shadow: 0px 0px 10px #40404040;
    background-color: #FF8F3F90;
    overflow: hidden;
    position: relative;
    color: #fff;
    &::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to right bottom, #ffffff90, transparent);
        left: 60%;
        z-index: 1;
        top: 0;
        transform: rotate(60deg);
    }
}
.app__profile-services_health{
    padding: 2rem;
    flex:1;
    border-radius: 1rem ;
    box-shadow: 0px 0px 10px #40404040;
    background-color: #0091ff;
    overflow: hidden;
    position: relative;
    color: #fff;
    z-index: 0;
    p{
        margin: 1rem 0;
        text-align: justify;
    }
    h4{
        margin: 1rem;
    }
    &::after{
        content: '';
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to right bottom, #ffffff90, transparent);
        left: 60%;
        z-index: -1;
        transform: rotate(60deg);
    }

}
.app__profile-services-items2{
    padding: 2rem;
    flex: 1;
    border-radius: 1rem ;
    box-shadow: 0px 0px 10px #40404040;
    background-color: #007b65e9;
    overflow: hidden;
    position: relative;
    &::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        background-image: linear-gradient(to right bottom, #ffffff90, transparent);
        left: 60%;
        z-index: 1;
        transform: rotate(60deg);
    }

}
.app__profile-services-appItems{
    display: flex;
    justify-content: flex-start;

    align-items: stretch;
    height: 100%;
    margin: 1rem;
    padding: 2rem;
}
.app__profile-services-appItem{
    padding: 1rem;
    width: max-content;
    background-color: #ffffff10;
    color: #fff;
    height: 100%;

}
.app__profile-services_questions-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}
.card-item{
    margin: 1rem 0;
    padding: .5rem 0;
    display: flex;
    justify-content: center;
    gap: 10px;
    background-color: rgba(24, 109, 0, 0.63);
}