@import '../../../index.scss';

.app__question{
    margin: 6rem 0;
    padding: 0 4rem;
    overflow: hidden;
    position: relative;
    background-image: linear-gradient(to left , #ff8f3fbf , #ffffff30);
    display: flex;
    height: 400px;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    p{
        font-family: $secondary-font;
        font-size: 1.3rem;
        color: white;
        width: 50%;
        margin: 2rem 0;
        @media screen and (max-width: 950px) {
            width: 80%;
            
        }
    }
    @media screen and (max-width: 650px) {
        padding: 0;
        height: 500px;
        
    }
    img{
        position: absolute;
        object-fit: cover;
        width: 100%;
        z-index: -1;
        @media screen and (max-width: 650px) {
            width: 160%;
        }
    }
}
.app__question-head{
    color: $primary-color;
    font-family: $secondary-font;
}
.app__question-input{
    position: relative;
    width: 70%;
    button{
        cursor: pointer;
        position: absolute;
        right: 0;
        bottom: 2.1rem;
        font-size: 1.5rem;
        color: $secondary-Color;
        border: none;
        padding: .7rem;
        background-color: transparent;
        display: grid;
        place-content: center;
        
    }
}