@import '../../index.scss';
.app__password-input{
    position: relative;

}
.input-setHiddenButton{
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 5px;
    border-radius: 50%;
    padding: 0.5rem;
    width: 40px;
    height: 40px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
        background-color: #40404010;
    }
}