@import '../../index.scss';

.app__questions{
    margin: 0 6rem 4rem 6rem;
    min-height: 100vh;
    @media screen and (max-width: 950px) {
        margin: 2rem;
    }
}
.app__questions-content{
    flex: 1;
}
.app__questions-content_item{
    margin: 2rem 0;
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    
}
.app__questions-content_item-det{
    flex: 1;
}
.app__questions-content_item-det{
    flex: 3;

    h2{
        margin: 1rem 0;
        font-family: $secondary-font;
    }
    h4{
        font-family: $secondary-font;
        color: $secondary-Color;
        margin: .5rem 0 0 0;
    }
    p{
        margin: 0 0 .5rem 0 ;
        font-weight: 700;
        font-family: $secondary-font;
        color: $gray-text;
    }
    a{
        font-family: $secondary-font;
        color: $primary-color;
        &:hover{
            text-decoration: underline;
        }
    }
}
.app__questions-content_item-img{
    img{
        width: 50px;
        min-width: 50px;
    }
}
.loading{
    margin: 0 6rem 4rem 4rem;
    
    @media screen and (max-width: 950px){
        margin: 2rem;
    }
    div:nth-child(1), div:nth-child(2), div:nth-child(3){
        height: 20px;
        margin: 1rem 0;
        animation: load 1s ease infinite;
    }
    div:nth-child(1){
        width: 300px;
    }
    div:nth-child(2){
        width: 380px;
    }
    div:nth-child(3){
        width: 100px;
    }
}
@keyframes  load {
    0%{
        background-color: #40404020;
    }
    50%{
        background-color: #40404010;
    }
    100%{
        background-color: #40404020;
    }
}