@import '../../index.scss';

.app__doctors{
    margin: 7rem 6rem;
    font-family: $secondary-font;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    h1{
    font-family: $secondary-font;
    color: $primary-color;
        span{
            color: $secondary-Color;
        }
    }
}
.app__doctors-searchBar{
    width: 50%;
    position: relative;
    margin: 2rem auto;
    display: flex;
    gap: 1rem;
    @media screen and (max-width: 950px) {
      width: 100%;
    }
    select{
        flex: 1;
    }
    input{
        flex: 2;
    }
    .search-icon{
        position: absolute;
        right: 1rem;
        top:1rem;
    }

}
.app__doctors-items{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}
.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #cef;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
  
    
// .docs-width{
//     max-width: 1300px;
//     padding: 0 45px;
// } 

// .docs-flex{
//     display: grid;
//     grid-template-columns: repeat(3 , 1fr) ;
//     column-gap: 5px;
// }

// .docs-width h1{

//     text-align: center;
//     position: relative;
//     color: $primary-color;
//     font-size: 30px;
//     font-family: $secondary-font;
//     font-weight: 500;
//     margin-bottom: 40px;
//     padding-bottom: 10px;

//     span{
//         color: $secondary-Color; 
//     }
// }

// .docs-search-box{
//     position: absolute;
//     top: 30%;
//     left: 20%;
//     transform: translate(-50% , -50%);
//     background: $primary-color;
//     height: 40px;
//     border-radius: 40px;
//     padding: 10px;
// }

// .docs-search-box:hover > .docs-search-txt {
//     width: 240px;
//     padding: 0 5px;
// }



// .docs-search-btn{
//     color: $secondary-Color;
//     float: right;
//     width: 20px;
//     height: 20px;
//     border-radius: 50%;
//     background-color: $primary-color;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     transition: 0.4s;
// }

// .docs-search-txt{
//    border: none;
//    background: none;
//    outline: none;
//    float: left;
//    padding: 0;
//    color: white;
//    font-size: 16px;
//    transition: 0.4;
//    line-height: 20px;
//    width: 0px;
// }





// @media screen and (max-width : 1190px) {
//     .docs-width{
//         padding: 0 25px;
//     }
// }
