
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');


// colors : 

  $primary-color :  #26447B;
  $secondary-Color : #FF8F3F;
  $dark-blue : #153572;
  $light-blue : #0d88e6;
  $gray-text : #757678;
  $btn-blue : #247BEA;

// fonts : 

  $primary-font : "Work Sans";
  $secondary-font : "Ubuntu", "sans-serif";

  

  a{
    text-decoration: none;
    color: unset;
}

a:hover{
  color: $light-blue;
}




