
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');


:root {

  --primaryColor :  #26447B
  --secondaryColor : #FF8F3F

  --primaryFont : "Work Sans"
  --secondaryFont : "Ubuntu", "sans-serif"

  --darkBlue : #153572
  --lightBlue : #0d88e6

  --gray : #757678
  --btnBlue : #247BEA

}




