@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
a {
  text-decoration: none;
  color: unset;
}

a:hover {
  color: #0d88e6;
}

.news {
  width: 80%;
  margin: auto;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px;
}

.left-column, .right-column {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.right-column img {
  width: 80%;
  margin-top: 10px;
  padding: 10px;
}

.left-column {
  margin-top: 80px;
  padding: 10px;
}

.left-column h1 {
  font-size: 80px;
  font-family: "Work Sans";
  color: #26447B;
}

.left-column h1 span {
  color: #FF8F3F;
}

.left-column h3 {
  font-size: 35px;
  color: #FF8F3F;
}

.left-column h3 span {
  color: #26447B;
}

.left-column p {
  color: #757678;
  font-size: 15px;
  margin: 40px 0;
  padding: 5px;
}

.btn button {
  padding: 7px 30px;
  margin: 15px;
  outline: none;
  border: 1px solid #247BEA;
  border-radius: 20px;
  cursor: pointer;
  color: #757678;
  background: transparent;
}

.btn .primary-btn {
  background: -webkit-gradient(linear, left top, left bottom, from(#247BEA), to(#26447B));
  background: linear-gradient(#247BEA, #26447B);
  -webkit-box-shadow: 0 2px 15px rgba(248, 38, 103, 0.26);
          box-shadow: 0 2px 15px rgba(248, 38, 103, 0.26);
  color: white;
}

.btn .primary-btn:hover {
  background: #fff;
  color: #247BEA;
}

.btn .secondary-btn:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#247BEA), to(#26447B));
  background: linear-gradient(#247BEA, #26447B);
  -webkit-box-shadow: 0 2px 15px rgba(248, 38, 103, 0.26);
          box-shadow: 0 2px 15px rgba(248, 38, 103, 0.26);
  color: white;
}

@media screen and (max-width: 1273px) {
  .left-column {
    margin-top: 50px;
    padding: 5px;
  }
  .left-column h1 {
    font-size: 70px;
  }
  .left-column h3 {
    font-size: 35px;
  }
  .left-column p {
    font-size: 10px;
    margin: 30px 0;
    padding: 5px;
  }
  .btn button {
    padding: 7px 20px;
    margin: 15px;
  }
  .right-column img {
    width: 70%;
    margin-top: 10px;
    padding: 10px;
  }
}

@media screen and (max-width: 1083px) {
  .left-column {
    margin-top: 50px;
    padding: 5px;
  }
  .left-column h1 {
    font-size: 60px;
  }
  .left-column h3 {
    font-size: 30px;
  }
  .left-column p {
    font-size: 10px;
    margin: 30px 0;
    padding: 5px;
  }
  .btn button {
    padding: 7px 20px;
    margin: 10px;
  }
  .right-column img {
    width: 80%;
  }
}

@media screen and (max-width: 930px) {
  .left-column .right-column {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .banner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-top: 0;
  }
  .right-column img {
    width: 50%;
    margin-left: 150px;
  }
}

@media screen and (max-width: 740px) {
  .left-column .right-column {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .news {
    width: 70%;
    margin: auto;
  }
  .banner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-top: 0;
  }
  .right-column img {
    width: 70%;
    margin-left: 50px;
  }
  .left-column h1 {
    font-size: 50px;
  }
  .left-column h3 {
    font-size: 30px;
  }
  .left-column p {
    font-size: 12px;
    margin: 30px 0;
    padding: 5px;
  }
}
/*# sourceMappingURL=news.css.map */